/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Apr 29, 2019, 12:44:47 PM
    Author     : koend
*/

.navbar-default {
  font-size: 1.15em;
  font-weight: 400;
  background-color: #3BA3FB;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.reis1 {
  color: #208B59;
}

.reis2 {
  color: #FF0000;
}

nav a,
nav li {
  list-style: none;
  text-decoration: none;
  color: white;
}

nav.hoofd-nav {
  position: fixed;
  top: 58px;
  bottom: 0;
  margin-left: -30px;
  background-color: #3ca2fb;
  z-index: 1;
}

nav.hoofd-nav li {
  margin-left: 0px;
  margin: 10px;
  text-decoration: none;
}

nav.hoofd-nav li a:hover {
  text-decoration: none;
}

div#content_container {
  margin-left: 120px;
}

h1 {
  text-align: center;
  padding: 20px;
  margin-left: 60px;
}

.htmlEditor {
  margin-left: 160px;
  margin-right: auto;
  width: 80%;
}

.htmlEditor input {
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 10px;
  width: 30%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3ca2fb;
  color: white;
  border-radius: 10px;
  border-style: none;
}

div#errors {
  margin: auto;
  width: 70%;
}

.htmlContent {
  margin-left: 100px;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.alert {
  margin-right: 100px;
}

.htmlContent h1 {
  text-align: left;
  margin-top: 100px;
  margin-left: -20px;
}

.date {
  text-align: left;
}

.planningInput {
  background-color: #FFF;
  border: 1px solid #d1d1d1;
}

#content_container {
  margin-top: 60px;
}

